name: Build and Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  go:
    uses: oleiade/ci/.github/workflows/go.yml@main
    with:
      go-version: "1.25.6"
      submodules: "recursive"

  security:
    uses: oleiade/ci/.github/workflows/go-security.yml@main
    with:
      go-version: "1.25.6"
      submodules: "recursive"

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: "1.25.6"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest
